// Colors

$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
// (footer)
$DarkModerateCyan: hsl(168, 34%, 41%);
// (graphic design text)
$DarkDesaturatedCyan: hsl(167, 40%, 24%);
// photography text
$DarkBlue: hsl(198, 62%, 26%);

// Neutral
$DarkDesaturateBlue: hsl(212, 27%, 19%);
$DarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// Typography
$FontFamily: "Barlow", sans-serif;
$FontFamily2: "Fraunces", serif;
