@import "../abstract/variables.scss";
@import "../abstract/mixins.scss";

.content {
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    &-imgContent {
      position: relative;
    }
    &-text {
      padding: 8rem 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    @include titleCards;
  }

  &__description {
    font-size: 1.8rem;
    color: $DarkGrayishBlue;
    margin-bottom: 2.5rem;
    align-self: flex-start;
    &-img {
      position: absolute;
      width: 50rem;
      top: 60%;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__info {
    font-family: $FontFamily2;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    cursor: pointer;
    align-self: flex-start;
  }
  &__info {
    &-red {
      &::after {
        content: "";
        position: absolute;
        width: 104%;
        height: 0.6rem;
        left: -0.2rem;
        bottom: 0;
        background-color: $SoftRed;
        opacity: 0.22;
        border-radius: 0.4rem;
      }
      &:hover::after{
        opacity: 1;
        z-index: -1;
      }
    }
    &-yellow {
      &::after {
        content: "";
        position: absolute;
        width: 104%;
        height: 0.6rem;
        left: -0.2rem;
        bottom: 0;
        background-color: $Yellow;
        opacity: 0.22;
        border-radius: 0.4rem;
        
      }
      &:hover::after{
        opacity: 1;
        z-index: -1;
      }
    }
  }
  &__img {
    width: 100%;
  }
  &__item {
    &-img {
      line-height: 0;
    }
  }
  &__images {
    &-title1 {
      @include titleCards {
        color: $DarkModerateCyan;
      }
    }
    &-title2 {
      @include titleCards {
        color: $DarkDesaturatedCyan;
      }
    }
    &-description1 {
      color: $DarkDesaturatedCyan;
      font-size: 2.4rem;
      width: 50rem;
    }
    &-description2 {
      color: $DarkBlue;
      font-size: 2.4rem;
      width: 50rem;
    }
  }
}
