@import '../abstract/variables.scss';

.footer {
    background-color: $DarkModerateCyan;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        &-img{
            width: 16rem;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;

        &-img {
            width: 1.5rem;
        }
    }
}  