@import "../abstract/variables.scss";
.header {
  z-index: 100;
  &__image {
    width: 100vw;
  }
  &__container {
    position: relative;
    line-height: 0;
    overflow: hidden;
  }
  &__text {
    color: $White;
    font-family: "Fraunces", serif;
    font-size: 6rem;
    font-weight: 800;
    left: 50%;
    letter-spacing: 0.8rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20%;
    transform: translate(-50%, 50%);
    width: 100rem;
  }
  &__arrowDown {
    position: absolute;
    top: calc(100% / 2.2);
    left: 50%;
    cursor: pointer;
  }
}
